<%= render_breadcrumbs separator: ' / ' %>

<h1 class="mb-4 mt-2"><%= @brand.name %></h1>

<% if @brand_products.empty? %>
  <p>No products found.</p>
<% else %>
  <div class="row mb-3">
    <%= render partial: "brand_products", collection: @brand_products, as: :product %>
  </div>
<% end %>